body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  body {
    width: 1220px;
  }
}
h1 {
  text-align: center;
  margin-bottom: 0px;
}
h1 > .head__logo {
  padding: 15px;
  width: 165px;
}

@media (min-width: 1300px) {
  .place__search {
    border-radius: 10px 10px 0 0;
  }
}
.contain__loader {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  animation: gost 0.5s linear 2s forwards;
}

#loader {
  position: absolute;
  z-index: 1000;
  width: 200px;
  height: 200px;
  border: 20px solid #cccccc;
  border-top: 20px solid #99e2d0;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes gost {
  0% {
    height: 100%;
    opacity: 1;
  }
  99% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.place__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  height: 3.125rem;
  background-color: #eaeaea;
}
.place__search > .place__logo {
  margin-right: 10px;
  margin-left: 35px;
}
.place__search > .place__text > input {
  border: none;
  font-size: 15px;
  opacity: 0.7;
  font-weight: bold;
  background-color: #eaeaea;
  outline: none;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid transparent;
  transition: border-color 0.3s, background-color 0.3s;
}
.place__search > .place__text > input:focus {
  background-color: #fff;
  border-color: #9356dc;
}
.place__search ::placeholder {
  opacity: 1;
}

.navigation__discovery {
  background-color: #f6f6f6;
  padding: 15px;
  text-align: center;
  height: 17.813rem;
}
.navigation__discovery > div {
  margin-top: 50px;
}
.navigation__discovery > h2 {
  margin: 0px;
  font-size: 33px;
  padding: 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.navigation__discovery > p {
  margin-top: 0px;
  font-size: 20px;
  color: #000000;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
}
.navigation__discovery .navigation__button {
  border-radius: 30px;
  height: 3.125rem;
  font-size: 15px;
  padding: 15px;
  border: none;
  background-image: linear-gradient(#fa71cd, #c471f5);
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.32);
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 1;
  transition: box-shadow 0.3s, opacity 0.3s;
}
.navigation__discovery .navigation__button:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.52);
  opacity: 0.8;
}

@media (min-width: 991.99px) and (max-width: 1220px) {
  .navigation__discovery {
    height: auto;
  }

  #loader {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1300px) {
  .navigation__discovery {
    border-radius: 0 0 10px 10px;
  }
}
.search__filters {
  margin-bottom: 50px;
}
.search__filters > h2 {
  margin-top: 40px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}

.search__restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__search {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 3px 2px rgba(0, 0, 0, 0.02);
  position: relative;
  margin: 10px 10px 10px 25px;
  cursor: pointer;
}
.button__search:hover {
  background-color: #f5edff;
}
.button__search:hover .button__icone > i {
  color: #9356dc;
  opacity: 1;
}
.button__search > .button__number {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #9356dc;
  position: absolute;
  left: -11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__search > .button__icone > i {
  padding: 25px;
  margin-left: 10px;
  font-size: 18px;
  opacity: 0.5;
  cursor: pointer;
}
.button__search > p {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search__filters > h2 {
    text-align: center;
  }

  .search__restaurant > .button__search {
    width: 80%;
  }
}
@media (min-width: 991.99px) {
  .search__filters > h2 {
    text-align: center;
  }

  .search__restaurant > .button__search {
    width: 60%;
  }

  .cards__restaurant > h2 {
    text-align: center;
  }

  .cards__multi {
    display: flex;
    padding-right: 0;
  }
  .cards__multi > .card {
    width: 30%;
    margin: 10px;
  }
}
.cards__restaurant {
  padding: 20px 13px 60px 13px;
  background-color: #f6f6f6;
}
.cards__restaurant > .cards__multi {
  padding-left: 20px;
  padding-right: 20px;
}
.cards__restaurant > .cards__multi > .card {
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);
}

.card__image__new {
  height: 175px;
  position: relative;
}
.card__image__new > .card__new__one {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  text-align: center;
  background-color: #99e2d0;
  border-radius: 2px;
}
.card__image__new > .card__new__one > p {
  color: #408c7a;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.card__link {
  text-decoration: none;
}

.card__image,
.card__image__two {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 0;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}
.card__footer > .card__title {
  padding-left: 15px;
}
.card__footer > .card__title > h3 {
  padding-bottom: 5px;
  padding-top: 15px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.card__footer > .card__title > p {
  padding-bottom: 10px;
  margin: 0px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.card__footer > .card__logo {
  display: flex;
  align-items: center;
  margin: 0;
}
.card__footer div {
  margin-right: 20px;
  position: relative;
}
.card__footer div > .one {
  color: #000000;
  font-size: 25px;
  cursor: pointer;
  background-color: #ffffff;
  opacity: 1;
}
.card__footer div > .one:hover {
  opacity: 0;
}
.card__footer div > .two {
  font-size: 25px;
  right: 0px;
  bottom: 1px;
  /*font-weight: bold;*/
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(#c471f5, #fa71cd);
  -webkit-background-clip: text;
  color: transparent;
}
.card__footer div > .two:hover {
  opacity: 1;
  transition-duration: 500ms;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cards__restaurant > h2 {
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .cards__restaurant {
    border-radius: 10px 10px 0 0;
  }
}
footer {
  background-color: #353535;
}

.foot__index {
  margin-top: 0;
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  margin: 5px;
  color: #ffffff;
}

.foot__contact {
  padding: 20px;
}
.foot__contact > .foot__icone {
  display: flex;
}
.foot__contact > div {
  display: flex;
  align-items: center;
}

.foot__iconedirect > i {
  color: #ffffff;
  font-size: 12px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 991.99px) and (max-width: 1220px) {
  .foot__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .foot__contact > .foot__index {
    margin: 0;
  }
}/*# sourceMappingURL=acceuil.css.map */