.head__food {
  display: flex;
  > .head__icone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 20px;
  }
}
.head__link > i {
  color: black;
}
.head__name {
  flex: 3;
  margin-bottom: 0;
  > .head__logo {
    padding: 15px;
    width: 175px;
    margin-bottom: 0;
  }
}
@media (min-width: 991.99px) and (max-width: 1220px) {
  .head__food > .head__icone {
    flex: 0;
    margin-left: 40px;
  }
  .head__name {
    text-align: center;
    margin-right: 20px;
  }
}
