.place__search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    
    height: 3.125rem;
    background-color: $color-search-index;
    > .place__logo {
        margin-right: 10px;
        margin-left: 35px;
        
    }
    > .place__text > input{
        border: none;
        font-size: 15px;
        opacity: 0.7;
        font-weight: bold;
        background-color: $color-search-index;
    }
    ::placeholder {
        opacity: 1;
    }
}

.navigation__discovery {
    background-color: $color-primary;
    
    padding: 15px;
    text-align: center;
    height: 17.813rem;
    > div {
        margin-top: 50px;
    }
    > h2 {
        margin: 0px;
        font-size: 33px;
        padding: 10px;
        font-weight: bold;
        @include text-design;
    }
    > p {
        margin-top: 0px;
        font-size: 20px;
        color: $color-roboto-text;
        opacity: 0.6;
        @include text-design;
    }
    .navigation__button {
        border-radius: 30px;
        height: 3.125rem;
        font-size: 15px;
        padding: 15px;
        border: none;
        background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
        color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.32);
        @include text-design;
        position: relative;
        z-index: 1;
        &:hover {
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.52);
            opacity: 0.8;
            
        }
            /*&::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 30px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.52);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: lighten(#fa71cd, 5);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }*/
    }
}
@media (min-width: 991.99px) and (max-width: 1220px) {
    .navigation__discovery {
        height: auto;
    }
}