.food__menu {
    background-color: $color-primary;
}
.pic__food > img{
    height: 250px;
    width: 414px;
    object-fit: cover;
    display: block;
}
.food__menu__general {
    background-color: $color-primary;
    padding: 20px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    z-index: 1;
    bottom: 40px;
}
.food__name {
    @include title-design;
    font-size: 20px;
    display: flex;
    + h1{
        flex: 3;
    }
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}
.box__type {
    @include text-design;
    color: $color-roboto-text;
    font-weight: inherit;
    font-size: 18px;
    opacity: 0.6;
}
.box__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.box__button {
    background-color: $color-footer-text;
    width: 384px;
    height: 4.25rem;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h4 {
        margin-bottom: 0;
        margin-top: 5px;
        padding-left: 10px;
        font-size: 20px;
    }
}
.box__price {
    display: flex;
    justify-content: space-between;
    > .box__name__food {
        color: $color-roboto-text;
        padding-left: 5px;
    }
    > .box__price__euros {
        color: $color-roboto-text;
        font-weight: bold;
        padding-right: 20px;
    }
}
.order__box{
    text-align: center;
    > .order__button {
        border-radius: 30px;
        height: 3.125rem;
        width: 185px;
        font-size: 15px;
        padding: 15px;
        border: none;
        background-color: #dd6eda;
        color: white;
        @include text-design;
    }
}