@mixin text-design {
    font-family: 'Roboto', sans-serif;
}
@mixin title-design {
    font-family: 'Shrikhand', cursive;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}