$color-search-index: #eaeaea;
$color-button-search: #c860eb;
$color-number: #9356dc;
$color-primary: #f6f6f6;
$color-footer: #353535;
$color-footer-text: #ffffff;
$color-roboto-text: #000000;
$color-new: #99e2d0;
$color-new-text: #408c7a;
$color-filtres-end: #f5edff;
$color-slide: #99e2d0;
$shake-effect: 3%;
