$color-search-index: #eaeaea;
$color-button-search: #FF79DA;
$color-number: #9356DC;
$color-primary: #f6f6f6;
$color-footer: #353535;
$color-footer-text: #ffffff;
$color-roboto-text: #000000;
$color-new: #99E2D0;
$color-new-text: #7dd1bc;